<div class="container-fluid">
  
    <div class="row justify-content-center align-items-center">

      <div class="col-12">
        <h1>The raised bed is {{xGardenMax}}' x {{yGardenMax}}'</h1>
        
        
      </div>
    </div>
  
    <div class="row justify-content-center align-items-center">
  
      <!-- plant list -->
      <div class="col col-6 justify-content-center align-items-center plant-list">
        <p>Click the plant for more info.</p>
        <div *ngFor="let item of fullPlant; index as i">
          <div class="grid flex row">
            <div type="button" class="btn btn-light mb-1"
              popover="Plant {{item.perFoot}} per foot in {{item.season}}. Zone: {{item.zone}}"
              [outsideClick]="true">
              <button class="btn btn-primary mb-1 col-8">{{item.plant | titlecase}}</button>
              
              <button (click)="addToGarden(i)" 
                (click)="correctColumns()" 
                (click)="totalPossiblePlants()"
                (click)="calculateProgress()"
                
                
                class="btn btn-success mb-1 col-2">+</button>
            </div>
            
          </div>
        </div>
      </div>

      <div class="radio col-6">

        <div class="row">

          <div class="col-4">
            <!-- slider to choose xGardenMax-->
            <h1>Rows: {{xGardenMax}}</h1>
            <mat-slider [(ngModel)]="xGardenMax" min="1" max="4" step="1" value="4"></mat-slider>

            <!-- slider to choose yGardenMax-->
            <h1>Length: {{yGardenMax}}</h1>
            <mat-slider [(ngModel)]="yGardenMax" verticle min="1" max="8" step="1" value="4"></mat-slider>
          </div>

          <div class="col-4">
            <h2>Space Available in this garden: {{spaceAvailable}}</h2>
          </div>
          
          <div class="col-4">
            <h2>Name this garden bed:</h2>
            <input type="text" #box />
            <button (click)="saveName(box.value)" (click)="postToDb()"  class="btn btn-primary">Save</button>
            <h4>NAME: <span>{{gardenName}}</span></h4>
          </div>


      </div>

      <div class="">

        <div class="row raised-bed">
          <!-- Displays the number of columns based on user input -->
          <!-- Creates a full garden bed -->
          <!-- name only -->
          <div class="container">
            

            <!-- Progress bar -->
            <mat-progress-bar mode="determinate" [value]="progress" min="0"></mat-progress-bar><br>
            <button
              (click)="this.totalPossiblePlants()"
              (click)="this.calculateProgress()">Calculate progress</button>
            <h4>
              Progress out of 100: {{progress}} %    
            </h4><br>
            <p>
              //available space: {{spaceAvailable}}//
            </p><br>
            <p>
              each plant will take this amount of room: {{factor}}, {{test}} should equal 100
            </p><br>

            
          </div>
          
          
          
          <!-- displays only when col 1 is displayed -->
          <div class="col-3 raised-bed-col" >
            <icon-seedling></icon-seedling>
            <div 
              cdkDropList 
              #colOne="cdkDropList"
              [cdkDropListData]="firstCol"
              class="example-list" 
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" 
                *ngFor="let item of firstCol" 
                cdkDrag
                popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                [outsideClick]="true"
              >
                    {{item.plant}}
              </div>
            </div>
              <div *ngIf="firstCol.length > 0">
                <button (click)="clearColumn()" class="btn btn-info mb-1">Remove Column</button>
              </div>
          </div>

          <!-- displays only when col 2 is displayed -->
          <div class="col-3 raised-bed-col" *ngIf="xGardenMax >= 2">
            <icon-seedling></icon-seedling>
            <div 
              cdkDropList 
              #colTwo="cdkDropList"
              [cdkDropListData]="secondCol"
              class="example-list" 
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" 
                *ngFor="let item of secondCol" 
                cdkDrag
                popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                [outsideClick]="true"
              >
                    {{item.plant}}
              </div>
            </div>
              <div *ngIf="secondCol.length > 0">
                <button (click)="clearSecondColumn()" class="btn btn-info mb-1">Remove Column</button>
              </div>
          </div>

          <!-- displays only when col 3 is displayed -->
          <div class="col-3 raised-bed-col" *ngIf="xGardenMax >= 3">
            <icon-seedling></icon-seedling>
            <div 
              cdkDropList 
              #colThree="cdkDropList"
              [cdkDropListData]="thirdCol"
              class="example-list" 
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" 
                *ngFor="let item of thirdCol" 
                cdkDrag
                popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                [outsideClick]="true"
              >
                    {{item.plant}}
              </div>
            </div>
              <div *ngIf="thirdCol.length > 0">
                <button (click)="clearThirdColumn()" class="btn btn-info mb-1">Remove Column</button>
              </div>
          </div>

          <!-- displays only when col 4 is displayed -->
          <div class="col-3 raised-bed-col" *ngIf="xGardenMax >= 4">
            <icon-seedling></icon-seedling>
            <div 
              cdkDropList 
              #colFour="cdkDropList"
              [cdkDropListData]="fourthCol"
              class="example-list" 
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" 
                *ngFor="let item of fourthCol" 
                cdkDrag
                popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                [outsideClick]="true"
              >
                    {{item.plant}}
                </div>
            </div>
              <div *ngIf="fourthCol.length > 0">
                <button (click)="clearFourthColumn()" class="btn btn-info mb-1">Remove Column</button>
              </div>
          </div>
        </div>
        </div><!-- end of plant columns -->
      </div>
    </div>
      
    
     
    
    
    
    <!-- get back saved data -->

    <button (click)="allPlantsinit()" class="btn btn-primary m-2">Refresh Plants</button>
    <button (click)="deleteAllPlants()" class="btn btn-danger m-2">Delete All</button>

    <!-- filter and sort -->

    <button class="btn btn-primary" (click)=" getEachGardenNameOnce()" (click)="removeDuplicates(gardenNames)">Get single garden names</button>



    <div class="form-group">
      <label for="gardens">Filter Gardens</label>
      <select class="form-control" id="gardens"
              required
              [(ngModel)]="Garden" name="gardens"
              #gardens="ngModel">
        <option *ngFor="let singleGarden of singleGardenNames" [value]="singleGarden">{{singleGarden}}</option>
      </select>
    </div>

        <button (click)="onGardenFilterClear()" class="btn btn-primary">Clear</button>

    


      <!-- <button (click)="onGardenFilterClear()" class="btn btn-primary">Clear</button> -->

      <label>Sort by: </label>
      <select [(ngModel)]='SortByParam' >
          <option value="garden">Garden Name</option>
          <option value="plant">Plant Name</option>
          <option value="col">column</option>
          <option value="season">Season</option>
          <option value="zone">Zone</option>
      </select>
      <button (click)="onSortDirection()" class="btn btn-primary">Toggle ascending and descending</button>

    
    <table class="table">
      <thead>
          <th>Column</th>
          <th>Garden Name</th>
          <th>Plant</th>
          <th>Season</th>
          <th>Density</th>
          <th>Delete</th>
      </thead>
      <tbody>
          <!-- loop through all plants in DB -->
          <!-- filters by gardenName , then sorts alphabetically by plant -->
          <!-- sort will sort by the parameter inside [''] -->
          <!-- to filter as user is typing use =>> filter: Garden:'garden' -->
          <tr *ngFor="let plant of plants 
            | filter: Garden :'garden'
            | sort: ['col'] : ['garden']
            | sort:[SortByParam, SortDirection] "
          >

              <td>{{ plant.col }}</td>
              <td>{{ plant.garden | uppercase}}</td>
              <td>{{ plant.plant }}</td>
              <td>{{ plant.season }}</td>
              <td>{{ plant.perFoot }}</td>
              <td><button (click)="deletePlant(plant._id)" class="btn btn-warning m-2">Delete</button></td>
          </tr>
      </tbody>
    </table>

  