<div class="container-fluid">
  
    <div class="row justify-content-center align-items-center">

      <div class="col-12">
        <h1>The raised bed is {{xGardenMax}}' x {{yGardenMax}}'</h1>
        
        
      </div>
    </div>
  
    <div class="row justify-content-center align-items-center">
  
      <!-- plant list -->
      <div class="col col-6 justify-content-center align-items-center plant-list">
        <p>Click the plant for more info.</p>
        <div *ngFor="let item of fullPlant; index as i">
          <div class="grid flex row">

            <div type="button" class="btn btn-light mb-1"
              popover=
              "Plant {{item.perFoot}} 
              per foot in {{item.season}}. 
              Zone: {{item.zone}}"
              [outsideClick]="true">

              <button class="btn btn-primary mb-1 col-8">{{item.plant | titlecase}}</button>
              
              <button 
                (click)="this.totalPossiblePlants()"
                (click)="this.calculateProgress()"
                (click)="addToGarden(i)" 
                (click)="correctColumns()" 
                (click)="addToProgressBar()"
                (click)="disableGardenMax()"
                (click)="canSave()"
                
                class="btn btn-success mb-1 col-2"
                [disabled]="disableAddPlants"
              >+</button>
            </div>
            
          </div>
        </div>
      </div>

      <div class="radio col-6"> <!-- new garden input -->
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <!-- slider to choose xGardenMax-->
                <h1>Rows: {{xGardenMax}}</h1>
                <mat-slider 
                  #xGarden
                  thumbLabel
                  tickInterval="1"
                  [(ngModel)]="xGardenMax" min="1" max="4" step="1"
                  [disabled]="xGardenDisable" ></mat-slider>
              </div>
              
              <div class="col-6">
                <!-- slider to choose yGardenMax-->
                <h1>Length: {{yGardenMax}}</h1>
                <mat-slider 
                  #yGarden
                  thumbLabel
                  tickInterval="1"
                  vertical
                  invert
                  [(ngModel)]="yGardenMax"  min="1" max="8" step="1"
                  [disabled]="yGardenDisable" ></mat-slider>
              </div>
            </div>
          </div>

          
          <div class="col-6">
            <h2>Name this garden bed:</h2>
            <input type="text" class="form-control" #name 
              required
              [(ngModel)]="gardenName" >

            <button 
              (click)="postToDb()"
              (click)="canSave()"
              (click)="resetProgress()"
              [disabled]="saveDisable"
              class="btn btn-primary">Save</button>

            <div *ngIf="gardenName">
              <h4> {{gardenName | titlecase}} was added to the saved gardens!</h4>
            </div>

          </div>
      </div>

      <div class="">

        <div class="row raised-bed">
          <!-- Displays the number of columns based on user input -->
          <!-- Creates a full garden bed -->
          <!-- name only -->
          <div class="container">
            

            <h4>
              <div>Progress {{progress | number: '1.0-0'}} %   </div>
               
              <button (click)="resetProgress()" class="btn btn-primary">Reset Progress</button>
            </h4>
            <!-- Progress bar -->
            <mat-progress-bar mode="determinate" [value]="progress" min="0"></mat-progress-bar><br>
            
            

          </div>
          
          
          
          <!-- displays only when col 1 is displayed -->
          <div class="col-3 raised-bed-col" >
            <icon-seedling></icon-seedling>
            <div 
              cdkDropList 
              #colOne="cdkDropList"
              [cdkDropListData]="firstCol"
              class="example-list" 
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" 
                *ngFor="let item of firstCol" 
                cdkDrag
                popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                [outsideClick]="true"
              >
                    {{item.plant}}
              </div>
            </div>
              <div *ngIf="firstCol.length > 0">
                <button (click)="clearColumn(firstCol)" (click)="calculateProgress()" class="btn btn-info mb-1">Remove Column</button>
              </div>
          </div>

          <!-- displays only when col 2 is displayed -->
          <div class="col-3 raised-bed-col" *ngIf="xGardenMax >= 2">
            <icon-seedling></icon-seedling>
            <div 
              cdkDropList 
              #colTwo="cdkDropList"
              [cdkDropListData]="secondCol"
              class="example-list" 
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" 
                *ngFor="let item of secondCol" 
                cdkDrag
                popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                [outsideClick]="true"
              >
                    {{item.plant}}
              </div>
            </div>
              <div *ngIf="secondCol.length > 0">
                <button (click)="clearColumn(secondCol)" (click)="calculateProgress()" class="btn btn-info mb-1">Remove Column</button>
              </div>
          </div>

          <!-- displays only when col 3 is displayed -->
          <div class="col-3 raised-bed-col" *ngIf="xGardenMax >= 3">
            <icon-seedling></icon-seedling>
            <div 
              cdkDropList 
              #colThree="cdkDropList"
              [cdkDropListData]="thirdCol"
              class="example-list" 
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" 
                *ngFor="let item of thirdCol" 
                cdkDrag
                popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                [outsideClick]="true"
              >
                    {{item.plant}}
              </div>
            </div>
              <div *ngIf="thirdCol.length > 0">
                <button (click)="clearColumn(thirdCol)" (click)="calculateProgress()" class="btn btn-info mb-1">Remove Column</button>
              </div>
          </div>

          <!-- displays only when col 4 is displayed -->
          <div class="col-3 raised-bed-col" *ngIf="xGardenMax >= 4">
            <icon-seedling></icon-seedling>
            <div 
              cdkDropList 
              #colFour="cdkDropList"
              [cdkDropListData]="fourthCol"
              class="example-list" 
              (cdkDropListDropped)="drop($event)"
            >
              <div class="example-box" 
                *ngFor="let item of fourthCol" 
                cdkDrag
                popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                [outsideClick]="true"
              >
                    {{item.plant}}
                </div>
            </div>
              <div *ngIf="fourthCol.length > 0">
                <button (click)="clearColumn(fourthCol)" (click)="calculateProgress()" class="btn btn-info mb-1">Remove Column</button>
              </div>
          </div>
        </div>
        </div><!-- end of plant columns -->
      </div>
    </div>
      
    
     
    
    
    
    <!-- get back saved data -->

    <button (click)="allPlantsinit()" class="btn btn-primary m-2">Refresh Plants</button>
    <button (click)="deleteAllPlants()" class="btn btn-danger m-2">Delete All</button>

    <!-- filter and sort -->

    <button class="btn btn-primary" (click)=" getEachGardenNameOnce()" (click)="removeDuplicates(gardenNames)">Get single garden names</button>



    <div class="form-group row">
      <div class="col-10">
        <label for="gardens">Filter Gardens</label>
        <select class="form-control" id="gardens"
                required
                [(ngModel)]="Garden" name="gardens"
                #gardens="ngModel">
          <option *ngFor="let singleGarden of singleGardenNames" [value]="singleGarden">{{singleGarden}}</option>
        </select>
      </div>
      <div class="col-2">
        <button (click)="onGardenFilterClear()" class="btn btn-primary">Clear</button>
      </div>
      <label>Sort by: </label>
      <select [(ngModel)]='SortByParam' >
          <option value="garden">Garden Name</option>
          <option value="plant">Plant Name</option>
          <option value="col">column</option>
          <option value="season">Season</option>
          <option value="zone">Zone</option>
      </select>
      <button (click)="onSortDirection()" class="btn btn-primary">Toggle ascending and descending</button>
    </div>

    <!-- display a user's garden in rows/columns they entered-->
    <div class="saved-gardens row">
      <div class="col-12">
        <h1>Garden Name: {{Garden}}</h1>
      </div>
    </div>

      <!-- 4 column layout for saved gardens -->

      <div class="row">

        <!-- col 1 only-->
        <div class="column" style="background-color:#aaa;">
          <div *ngFor="let plant of plants
            | filter: Garden :'garden'
            | sort: ['col'] : ['garden']
            | sort:[SortByParam, SortDirection]">
          
            <!-- display first column -->
            <div >
              <div *ngIf="plant.col == 1" class="card">
                
                <div class="row">
                  {{plant.plant | titlecase}} 
                </div>
                <div class="row">
                  x {{plant.perFoot}}
                </div>
                
                

              </div>
            </div>
          </div>
        </div>

        <!-- col 2 only-->
        <div class="column" style="background-color:#aaa;">
          <div *ngFor="let plant of plants
            | filter: Garden :'garden'
            | sort: ['col'] : ['garden']
            | sort:[SortByParam, SortDirection]">
          
            <!-- display first column -->
            <div >
              <div *ngIf="plant.col == 2" class="card">
                <div class="row">
                  {{plant.plant | titlecase}} 
                </div>
                <div class="row">
                  x {{plant.perFoot}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- col 3 only-->
        <div class="column" style="background-color:#aaa;">
          <div *ngFor="let plant of plants
            | filter: Garden :'garden'
            | sort: ['col'] : ['garden']
            | sort:[SortByParam, SortDirection]">
          
            <!-- display first column -->
            <div >
              <div *ngIf="plant.col == 3" class="card">
                <div class="row">
                  {{plant.plant | titlecase}} 
                </div>
                <div class="row">
                  x {{plant.perFoot}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- col 4 only-->
        <div class="column" style="background-color:#aaa;">
          <div *ngFor="let plant of plants
            | filter: Garden :'garden'
            | sort: ['col'] : ['garden']
            | sort:[SortByParam, SortDirection]">
          
            <!-- display first column -->
            <div >
              <div *ngIf="plant.col == 4" class="card">
                <div class="row">
                  {{plant.plant | titlecase}} 
                </div>
                <div class="row">
                  x {{plant.perFoot}}
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>