<div class="container-fluid">
  
    <div class="row justify-content-center align-items-center">

      <div class="col-12">
        <h1>The raised bed is {{xGardenMax}}' x {{yGardenMax}}'</h1>
        
        
      </div>
    </div>
  
    <div class="row justify-content-center align-items-center">
  
      <!-- plant list -->
      <div class="col col-6 justify-content-center align-items-center plant-list">
        <p>Click the plant for more info.</p>
        <div *ngFor="let item of fullPlant; index as i">
          <div class="grid flex">
            <button type="button" class="btn btn-success mb-1"
              popover="Plant {{item.perFoot}} per foot in {{item.season}}. Zone: {{item.zone}}"
              [outsideClick]="true">
              {{item.plant |titlecase}}
            </button>
            <button (click)="addToGarden(i)" (click)="correctColumns()" class="btn btn-primary mb-1">Add</button>
          </div>
        </div>
      </div>

      <div class="radio col-6">

        <div class="row">
          <!-- radio buttons to choose xGardenMax-->
          <h1>Rows</h1>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="xGardenMax" type="radio" name="xGardenMax" id="inlineRadio1" value=1>
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="xGardenMax" type="radio" name="xGardenMax" id="inlineRadio2" value=2>
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="xGardenMax" type="radio" name="xGardenMax" id="inlineRadio3" value=3>
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="xGardenMax" type="radio" name="xGardenMax" id="inlineRadio4" value=4>
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>

          <!-- radio buttons to choose yGardenMax-->
          <h1>Length</h1>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="yGardenMax" type="radio" name="yGardenMax" id="inlineRadio1" value=1>
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="yGardenMax" type="radio" name="yGardenMax" id="inlineRadio2" value=2>
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="yGardenMax" type="radio" name="yGardenMax" id="inlineRadio3" value=3>
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="yGardenMax" type="radio" name="yGardenMax" id="inlineRadio4" value=4  >
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="yGardenMax" type="radio" name="xGardenMax" id="inlineRadio1" value=5>
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="yGardenMax" type="radio" name="xGardenMax" id="inlineRadio2" value=6>
            <label class="form-check-label" for="inlineRadio5">6</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="yGardenMax" type="radio" name="xGardenMax" id="inlineRadio7" value=7>
            <label class="form-check-label" for="inlineRadio7">7</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="yGardenMax" type="radio" name="xGardenMax" id="inlineRadio4" value=8>
            <label class="form-check-label" for="inlineRadio8">8</label>
          </div>
      </div>
      <div class="row">

        <div class="row raised-bed">
          <!-- Displays the number of columns based on user input -->
          <!-- Creates a full garden bed -->
          <!-- name only -->
          <div class="container">
            <h2>Name this garden bed:</h2>
            <input type="text" #box />
            <button (click)="saveName(box.value)" (click)="postToDb()"  class="btn btn-primary">Save</button>
            <h4>NAME: <span>{{gardenName}}</span></h4>
          </div>
          
        
          <!-- displays only when 1 col is displayed -->
          <div class="col-3 raised-bed-col" >
            <icon-seedling></icon-seedling>
            <div *ngFor="let item of firstCol; index as i">
              <div class="">
                <button type="button" class="btn btn-success mb-1"
                  popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                  [outsideClick]="true">
                  {{item.plant}}
                </button>
              </div>
            </div>
            <div *ngIf="firstCol.length > 0">
              <button (click)="clearColumn()" class="btn btn-info mb-1">Remove Column</button>
            </div>
          </div>
      
          <!-- displays only when 2 col are displayed -->
          <div class="col-3 raised-bed-col" *ngIf="yGardenMax >= 2">
            <icon-seedling></icon-seedling>
            <div *ngFor="let item of secondCol; index as i">
              <div class="">
                <button type="button" class="btn btn-success mb-1"
                  popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                  [outsideClick]="true">
                  {{item.plant}}
                </button>
              </div>
            </div>
            <div *ngIf="secondCol.length > 0">
              <button (click)="clearSecondColumn()" class="btn btn-info mb-1">Remove Column</button>
            </div>
            
          </div>
      
          <!-- displays only when 3 col are displayed -->
          <div class="col-3 raised-bed-col" *ngIf="yGardenMax >= 3">
            <icon-seedling></icon-seedling>
            <div *ngFor="let item of thirdCol; index as i">
              <div class="">
                <button type="button" class="btn btn-success mb-1"
                  popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                  [outsideClick]="true">
                  {{item.plant}}
                </button>
              </div>
            </div>
            <div *ngIf="thirdCol.length > 0">
              <button (click)="clearThirdColumn()" class="btn btn-info mb-1">Remove Column</button>
            </div>
            
          </div>
      
          <!-- displays only when 4 col are displayed -->
          <div class="col-3 raised-bed-col" *ngIf="yGardenMax >= 4">
            <icon-seedling></icon-seedling>
            <div *ngFor="let item of fourthCol; index as i">
              <div class="">
                <button type="button" class="btn btn-success mb-1"
                  popover="Plant {{item.perFoot}} per foot in {{item.season}} col: {{item.col}}"
                  [outsideClick]="true">
                  {{item.plant}}
                </button>
              </div>
            </div>
            <div *ngIf="fourthCol.length > 0">
              <button (click)="clearFourthColumn()" class="btn btn-info mb-1">Remove Column</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    
     
    
    
    
    <!-- get back saved data -->

    <button (click)="allPlantsinit()" class="btn btn-primary m-2">Refresh Plants</button>
    <button (click)="deleteAllPlants()" class="btn btn-danger m-2">Delete All</button>

    <!-- filter and sort -->

    <button class="btn btn-primary" (click)=" getEachGardenNameOnce()" (click)="removeDuplicates(gardenNames)">Get single garden names</button>
      <div *ngFor="let item of singleGardenNames">
        <h4>{{item}}</h4><br>
      </div>

    
    <!--<label for="filterByGarden">Filter Gardens</label>
    <select [(ngModel)]="Garden" #filterByGarden *ngFor="let item of singleGardenNames">
      <option value="item">{{item}}</option>
    -->

    <label for="filterByGarden">Filter Gardens</label>
        <input [(ngModel)]="Garden" type="text" #filterByGarden>

    


      <!-- <button (click)="onGardenFilterClear()" class="btn btn-primary">Clear</button> -->

      <label>Sort by: </label>
      <select [(ngModel)]='SortByParam' >
          <option value="garden">Garden Name</option>
          <option value="plant">Plant Name</option>
          <option value="col">column</option>
          <option value="season">Season</option>
          <option value="zone">Zone</option>
      </select>
      <button (click)="onSortDirection()" class="btn btn-primary">Toggle ascending and descending</button>

    
    <table class="table">
      <thead>
          <th>Column</th>
          <th>Garden Name</th>
          <th>Plant</th>
          <th>Season</th>
          <th>Density</th>
          <th>Delete</th>
      </thead>
      <tbody>
          <!-- loop through all plants in DB -->
          <!-- filters by gardenName , then sorts alphabetically by plant -->
          <!-- sort will sort by the parameter inside [''] -->
          <!-- to filter as user is typing use =>> filter: Garden:'garden' -->
          <tr *ngFor="let plant of plants 
            | filter: Garden:''
            | sort: ['col'] 
            | sort: ['garden']
            | sort:[SortByParam, SortDirection] "
          >

              <td>{{ plant.col }}</td>
              <td>{{ plant.garden | uppercase}}</td>
              <td>{{ plant.plant }}</td>
              <td>{{ plant.season }}</td>
              <td>{{ plant.perFoot }}</td>
              <td><button (click)="deletePlant(plant._id)" class="btn btn-warning m-2">Delete</button></td>
          </tr>
      </tbody>
    </table>

  