
<div>
    <button (click)="allPlantsinit()" class="btn btn-primary m-2">Refresh Plants</button>
    <button (click)="deleteAllPlants()" class="btn btn-danger m-2">Delete All</button>
    
</div>

 
<div>
    <!-- sort -->
    <div>
        <label>Sort by: </label>
        <select [(ngModel)]='SortByParam' >
            <option value="plant">Plant Name</option>
            <option value="season">Season</option>
        </select>
        <button (click)="onSortDirection()" class="btn btn-primary">Toggle ascending and descending</button>
    </div>

    <div>
        <div class="card text-center bg-success mb-3" >

            <!-- add logic to control the grid layout here -->


            <div class="list-group list-group-flush" 
                *ngFor="let plant of plants | filter: uniqueGardenName: 'garden'| 
                sort:[SortByParam, SortDirection]"
                class="">

                

                <h3>Size {{plant.xGarden}} x {{plant.yGarden}}</h3>

                <div class="list-group-item">{{ plant.plant }}</div>
                <div class="list-group-item">Season: {{ plant.season }}</div>
                <div class="list-group-item">Density: {{ plant.perFoot }} per square foot</div>
                <div class="list-group-item">
                    <button (click)="deletePlant(plant._id)" class="btn btn-danger m-2">
                        Delete this Plant
                    </button>
                </div>
            </div>
          </div>
    </div>
    <div>
        <button (click)="getSize()">get size</button>
        <p>x: {{xGarden}}  y: {{yGarden}}</p>
        <p>garden area = {{area}}</p>
    </div>
</div>