<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Logo goes here</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-item nav-link" routerLink="/create" routerLinkActive="active">Create Gardens</a>
        <a class="nav-item nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
        <a class="nav-item nav-link" routerLink="/gardens" routerLinkActive="active">Gardens</a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
        <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active">Products</a>
      </div>
    </div>
  </nav>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/main" routerLinkActive="active">MainComponent</a>
        <a class="nav-item nav-link" routerLink="/all" routerLinkActive="active">PlantsApiComponent</a>
        <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">AdminComponent</a>
      </div>
    </div>
  </nav>