<div class="row">
    <div class="container col-6 col-12-sm">
        <h1>Create your gardens here!</h1>
    
        <h2>Start by adding a new raised bed</h2>
    
        <!-- will take in garden name -->
    
        <div class="form-group">
            <form 
                [formGroup]="AddGardenForm"
                (ngSubmit)="bindGardenName(newGardenName.value)"
                (ngSubmit)="calculateGardenArea(xGarden, yGarden)"
            >

                <div class="form-group">
                    <label  for="newGardenName">Garden Name
                        <input 
                        class="form-control"
                        formControlName="newGardenName" 
                        type="text" #newGardenName
                        placeholder="Garden Name"/>
                    </label>

                    <!-- will take in planting zone -->
                    <div>
                        <label formControlName="gardenZone" for="newPlantZone" >Zone</label>
                        <select #newPlantZone>
                            <option value="7a">7a</option>
                            <option value="7b">7b</option>
                            <option value="8a">8a</option>
                            <option value="8b">8b</option>
                        </select>
                    </div>
                </div>                

                <div class="form-group">
                    <div>
                        <h2>Garden Size</h2>
                        <!-- will take in x and y measurements in feet for raised bed size -->
                        <label>width</label>
                        <select formControlName="xGarden">
                            <option value=1>1'</option>
                            <option value=2>2'</option>
                            <option value=3>3'</option>
                            <option value=4>4'</option>
                        </select>

                        <label>Length</label>
                        <select formControlName="yGarden">
                            <option value=1>1'</option>
                            <option value=2>2'</option>
                            <option value=3>3'</option>
                            <option value=4>4'</option>
                            <option value=5>5'</option>
                            <option value=6>6'</option>
                            <option value=7>7'</option>
                            <option value=8>8'</option>
                        </select>
                        <!--
                        <div>
                            <button (click)="calculateGardenArea(xGarden, yGarden)" class="btn btn-primary">Garden Area: {{totalGardenArea}}</button>
                        </div>
                        -->
                    </div>
                </div>
                
                
            </form>
            <p>

            </p>
        
        </div>

    
        <br>

        <div *ngIf="tempGardenName">
            <!-- start adding plants -->
            <!--  postNewPlant(newPlant, garden, plantingSeason, plantZone, perFoot) -->
            <form class="mb-4" 
                [formGroup]="AddPlantForm" 
                (ngSubmit)="postNewPlant(
                    newPlantName.value,
                    tempGardenName,
                    newPlantSeason.value,
                    zone,
                    newPlantdensity.value
                )"
                (click)="allPlantsinit()"
            >

                <!-- will take in plant name -->
                <div class="form-group">
                    <label for="newPlantName">Plant 
                        <input 
                        class="form-control"
                        formControlName="addPlantName" 
                        type="text" #newPlantName 
                        placeholder="Plant Name"/>
                        <span class="error" *ngIf="plantValidation.invalid && plantValidation.touched">A plant name is required</span>
                    </label>
                </div>

                <!-- will take in planting season -->

                <div class="form-group">
                    <label for="newPlantSeason">Season</label>
                    <select #newPlantSeason formControlName="newPlantSeason" >
                        <option value="spring">Spring</option>
                        <option value="summer">Summer</option>
                        <option value="fall">Fall</option>
                        <option value="spring, fall">Spring, Fall</option>
                    </select>
                </div>

                <!-- will take in planting zone -->
                <div class="form-group">
                    <label for="newPlantdensity">Plants per Square Foot</label>
                    <select #newPlantdensity formControlName="newPlantdensity" >
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                        <option value=11>11</option>
                        <option value=12>12</option>
                        <option value=13>13</option>
                        <option value=14>14</option>
                        <option value=15>15</option>
                        <option value=16>16</option>
                        <option value=32>32</option>
                    </select>
                </div>
                <button class="btn btn-primary m-2" [disabled]="plantValidation.invalid">
                    Add a Plant
                </button>
                <p>
                    name: {{tempGardenName}}
                    plant: {{newPlantName.value}}
                    newPlantZone: {{newPlantZone.value}}
                    gardenZone: {{zone}}
                    season: {{newPlantSeason.value}}
                    density: {{newPlantdensity.value}}
                </p>
            </form>
        </div><!-- end ng-if -->
    </div>
</div>


<div *ngIf="tempGardenName" class="row">
    <div class="container col-10">
        <h2>Display current garden only: {{ tempGardenName | uppercase }} is the current garden</h2>
        <!-- Only display current garden -->
        <!-- hide this if the garden doesnt have a name yet  -->
        <app-sort-and-filter [uniqueGardenName]="tempGardenName"></app-sort-and-filter>
    </div>
</div>
