
<div class="container">

    <h1>About The Author</h1>

    <div class="row">
        <div class="col-6">
            <img src="../../../assets/images/raisedbed1.jpg" alt="">
            <img src="../../../assets/images/raisedbed2.jpg" alt="">
        </div>
        <div class="col-6">
            <h2>Alex Paige</h2>
            <p>I'm lazy, so naturally i tried to find an easier way to produce beautiful and delicous vegetables for a fraction of the work, water, space and most importantly, time.</p>
            <p>Then I discovered square foot gardening, a more modern approach to gardening in small/medium yards. Ever since, I have been obssesing over how i can maximize yields in a small area to outproduce friends using traditional methods.</p>
            <p>This web app came into existence due to a slow winter at work as an arborist. Lots of days off with no pay and no garden to play in. So I thought maybe I could build something to track my garden for next year. Six months down the rabbit hole of programming consuming almost all of my free time and finally I can share what I have done!</p>
            <p>Also in case any potential employers are reading this... I am still an arborist looking for a full-stack position, preferably using the MEAN stack.</p>
        </div>

    </div>

    <div class="row">
        <div class="col-6">
            
        </div>
    </div>

</div>
