<nav></nav>

<div class="container">
  <div class="row justify-content-center align-items-center">

    <!-- plant list -->
    <div class="col col-lg-6">
      <div *ngFor="let item of plants; index as i">
        <div class="container grid">
          <p>{{item}}</p>
          <button (click)="addToGarden(i)" class="btn btn-primary mb-1">Add</button>
        </div>
      </div>
    </div>
    


  <!-- plants in virtual garden-->

    <div class="col col-lg-6">
      <div *ngFor="let item of garden">
        <div class="container grid">
          <p>{{item}}</p>
          <button class="btn btn-primary mb-1">Remove</button>
        </div>
      </div>
    </div>

  </div>
</div>