* {
  box-sizing: border-box;
}

.main-banner {
  width: 95%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 3em;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    
  }

  .columns {
    column-width: 200px;
    max-width: 800px;
    margin: 0 auto;
  }


  .radio {
    border: dotted tomato 5px;
    padding: 2rem;
    align-items: center;
    text-align: center;
    background: orange;
    color: black;
  }

  .raised-bed-col{
    text-align: center;
    margin-bottom: 15px;
  }

  .plant-list{

    align-items: center;
    text-align: center;
    background:cornflowerblue
  }

  .example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .utility-container{
    background: black;
    color:white;
    width: 100%;
  }


  .card {
    display: block;
    max-height: 10vh;
    padding: 32px;
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
    text-align: center;
  }

  .saved-garden-grid {
    background-color: crimson;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 5%;
    /*
    max-height: 100vh;
    overflow:auto;
    */
  }

  .saved-garden-column {
    float: left;
    width: 20%;
    align-items: center;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .user-add {
    background: grey;
  }