<h1>Plants to and from the server</h1>

<div class="container" >
    
    <form class="mb-4" [formGroup]="AddPlantForm" (ngSubmit)="postNewPlant(newPlantName.value, newGardenName.value)">

        <!-- will take in plant name -->
        <div class="form-group">
            <label for="newPlantName">Plant 
                <input 
                class="form-control"
                formControlName="addPlantName" 
                type="text" #newPlantName 
                placeholder="Plant Name"/>
                <span class="error" *ngIf="plantValidation.invalid && plantValidation.touched">A plant name is required</span>
            </label>
        </div>
        
        <!-- will take in garden name -->
        <div class="form-group">
            <label  for="newGardenName">Garden Name
                <input 
                class="form-control"
                formControlName="addGardenName" 
                type="text" #newGardenName
                placeholder="Garden Name"/>
                <span class="error" *ngIf="plantValidation.invalid && plantValidation.touched">A garden name is required</span>
            </label>
            
        </div>
        
        <button class="btn btn-primary m-2" [disabled]="plantValidation.invalid">
            Add a Plant
        </button>
    </form>

    <button (click)="allPlantsinit()" class="btn btn-primary m-2">Get all Plants</button>
    <p> <input type="text" placeholder="does not work right now"><button class="btn btn-primary">search</button></p>
    <button (click)="deleteAllPlants()" class="btn btn-danger m-2">Delete All</button>

    <!-- filter and sort -->
    <div>
        <label for="filterByGarden">Filter Gardens</label>
        <input [(ngModel)]="Garden" type="text" #filterByGarden>

        <button (click)="onGardenFilterClear()" class="btn btn-primary">Clear</button>

        <label>Sort by: </label>
        <select [(ngModel)]='SortByParam' >
            <option value="garden">Garden Name</option>
            <option value="plant">Plant Name</option>
        </select>
        <button (click)="onSortDirection()" class="btn btn-primary">Toggle ascending and descending</button>
        



    </div>

    <table class="table">
        <thead>
            <th>Id</th>
            <th>Garden Name</th>
            <th>Plant</th>
            <th>Edit (not yet implemented)</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <!-- loop through all plants in DB -->
            <!-- filters by gardenName , then sorts alphabetically by plant -->
            <!-- sort will sort by the parameter inside [''] -->
            <!-- to filter as user is typing use =>> filter: Garden:'garden' -->
            <tr *ngFor="let plant of plants | filter: Garden:'garden'| sort:[SortByParam, SortDirection] ">
                <td>{{ plant._id }}</td>
                <td>{{ plant.garden }}</td>
                <td>{{ plant.plant }}</td>
                <td><button class="btn btn-primary m-2">Edit this Plant's Name</button></td>
                <td><button (click)="deletePlant(plant._id)" class="btn btn-primary m-2">Delete this Plant</button></td>
            </tr>
        </tbody>
    </table>



    

    
</div>